/* reset styles */
a, article, body, div, form, fieldset, header, h1, img, label, legend, li, nav, p, ul {
	border: 0;
	margin: 0;
	padding: 0;
}

/* body and container*/
body {
	background-image: url('background.jpg');
	background-color: #36B239;
	font-family: Lucida Sans Unicode;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	border: 3px solid;
	height: auto;
	position: relative;
	top: 10px;
	background-color: #6AB739;
}

/* header */
h1 {
	font-size: 2em;
	color: #75E6FF;
	text-align: center;
	padding: 0.5em;
	border: 1px solid black;
	background-color: #621E70;
  
}

/* site navigation bar */
nav.sitenavigation {
	text-align: center;
    background-color: #17602B;
    border-bottom: 1px solid black;
}

nav.sitenavigation li {
	display: inline-block;
    margin: 0.5em;
    padding: 0 0.5em;
    margin-left: 0.9em;
    font-size: 1.2em;
    font-weight: bold;
}

nav.sitenavigation a:link {
	text-decoration: none;
    color: #FFF951;
}

nav.sitenavigation a:visited {
    color: #F7C03A;
}

nav.sitenavigation a:hover {
    color: #DDF7AA;
}

/* home page */
#rick {
	margin: 1em;
	float: left;
}

div.sale {
	padding: 1em;
	width: 60%;
	float: right;
	text-align: center;
	margin-top: 5em;
}

#saleSign1 {
	font-size: 55px;
	color: red;
}

#saleSign2 {
	color: white;
	font-size: 50px;
}

#catchphrase {
	font-size: 35px;
	color: white;
}

div.advertisement {
	width: 950px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 8em;
	padding: 1em;
	border: 1px dotted white;
}

div.advertisement p {
	text-align: center;
	margin: 0.5em;
	color: white;
}

#ad {
	text-align: left;
	color: white;
	margin-top: -0.7em;
	margin-left: -0.4em;
}

/* products page */
div.product {
	display: inline-block;
    padding: 0.5em;
    margin: 1em;
    position: relative;
    background-color: #DEE595;
    width: 45%;
    float: left;
    height: 420px;
    border-radius: 25px;
}

div.product button {
	float: right;
}

div.ImageAndPrice {
	display: block;
    position: relative;
    float: left;
    width: 96.5%;
    background-color: white;
    padding: 1em;
    margin-left: -0.5em;
    margin-bottom: 0.5em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

div.ImageAndPrice p {
	padding-top: 6.5em;
	float: right;
	min-width: 190px;
}

/* mortys page */
div.morty {
	display: inline-block;
    border: 1px solid #E3763B;
    padding: 0.5em;
    margin: 2em;
    position: relative;
    background-color: white;
    width: 40%;
    height: auto;
    border-radius: 25px;
}

div.morty h3 {
	text-align: center;
}

div.morty p {
	text-align: center;
}

.button {
	text-align: center;
}

div.image {
	text-align: center;
}

div#cronenberg {
	width: 90%;
}

div.cart {
	border: 1px solid black;
	border-radius: 25px;
	width: 25%;
	padding: 1em;
	margin: 1em;
	background-color: white;
	margin-left: 3em;
	height: 50%;
}
Table th
{
	text-align: left;
	font-size: 130%;
}

div.cart hr {
	border-color: black;
}

.flexcontainer
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* form styles */
form {
	border: 1px solid black;
	background-color: white;
	border-radius: 25px;
	height: 90%;
	margin: 5%;
}

/* fieldset styles */
fieldset {
	margin: 1em;
}

/* legend style */
legend {
	font-size: 18px;
}

/* label styles */
label {
	font-size: 1.1em;
	
}

/* input style */
input {
	border: 1px solid black;
}

/* Submit Button */
.submitbutton {
	text-align: center;
}
